
body {
    font-family: 'roboto', serif;
}

p,li {
    color: #444;
}

.row {
    margin: 0;
}

#borda {
    border: #444 solid 1px;
    border-radius: 5%;
    background-color: rgba(219, 214, 214, 0.05);
    text-align: center;
    padding: 5%;
}



/* Barra de Navegação */
header, .navbar {
    background: rgb(172, 171, 171);
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    width: 75px;
}

.navbar-brand {
    padding: 0;
    color: white;
}

.navbar-brand:hover {
    color: white;
}

#navbar-links a {
    color: white;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
}

/* Sobre a empresa */
#about-area {
    margin-top: 75px;
}

.main-title {
    color: #444;
    margin: 0 0 80px 0;
    font-size: 40px;
    text-align: center;
}

.about-title {
    font-size: 17px;
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
}

.fa-hard-hat {
    font-size: 150px;
}

#about-list {
    list-style: none;
    padding-left: 0;
}

#about-list li {
    line-height: 30px;
}

#about-list i {
    color: rgb(36, 36, 36);
    margin-right: 15px;
}

/* Contato */

#contact-area {
    text-align: center;
    background-color: rgb(250, 250, 250);
}

.contact-box {
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid grey;
}

.contact-box i {
    color: #444;
    border: solid 1px #444;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    line-height: 55px;
    margin-bottom: 20px;
}

.contact-box p {
    font-size: 16px;
}

.contact-title {
    font-weight: bold;
}



/* Copy */

#copy-area {
    background-color: #a7a2a2;
    position: unset;
}

#copy-area .container {
    padding: 1px 0;
    text-align: center;
}

#copy-area .container p {
    margin-bottom: 0;
}

#copy-area .container a:hover {
    text-decoration: none;
}

/* responsive */

@media (max-width: 768px) {

    #titulo {
        display: none;
    }



}